.messagesend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    width: 90%;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 20px;
    margin-right: 10px;
    font: icon;
    font-size: x-large;
    /* background-color: rgb(228, 228, 228); */
    
}

input[type="submit"] {
    width: 10%;
    border: none;
    border-radius: 50px;
    font: italic;
    font-size: 30px;
    background-color: rgb(50, 135, 204);
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 85vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    align-items: flex-start;
}

.message-container {
    display: inline-block;
}

.sent {
    width: auto;
    padding: 10px;
    margin: 10px 0;
    color: rgb(62, 62, 62);
    box-sizing: border-box;
    font: icon;
    text-align: left;
    background-color: rgb(206, 205, 158);
    text-align: right; /* تغییر این قسمت به right */
    align-self: flex-end;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    font-size: x-large;
}

.received {
    background-color: #f9ff9e;
    width: auto;
    padding: 10px;
    margin: 10px 0;
    color: rgb(62, 62, 62);
    box-sizing: border-box;
    font: icon;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: x-large;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#text{
    width: 90%;
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(230, 229, 229);
    font: icon;
    font-size: x-large;
}
