<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylefromhome.css' %}">
    <title>Rex</title>
</head>
<body>
    <div class="title">
        <h1 class="txttitle">Welcome to Rex</h1>
        <div class="rex"></div>
    </div>
    <ul >
        <li><a class="color" href="/login">Login</a></li>
        <li><a href="/signup">Shin up</a></li>
    </ul>
    <!-- <textarea id="text" name="text" rows="4" cols="50" placeholder="Search username for send message"></textarea> -->
</body>
</html>
