<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylefromhome.css' %}">
    <title>Rex</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <div class="title">
            <div class="rex"></div>
            <h1 class="txttitle">hello {{username}}</h1>
        </div>
        
        <br><br><br>
        {% if users %}
            <h1 class="txttitle2">Your friends</h1>
            <hr class="hr">
            <div class="container">
                {% for user in users %}
                  <div class="friends">
                    <a href="/messages/{{user}}" class="linkusername">{{user}}</a>
                    <img class="friendsimag" src="{{ user.userprofile.avatar.url }}" alt="User avatar">
                  </div>
                {% endfor %}
            </div>              
        {% endif %}

        <br><br><br>
        <h1 class="txttitle2">Search new friends</h1>
        <form id="usernameForm" action="" method="get">
            <input type="text" id="username" name="username" placeholder="Enter username">
            <input type="submit" value="Go to user" class="btn2">
        </form>
        
        <script>
        document.getElementById('usernameForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var username = document.getElementById('username').value;
            window.location.href = '/messages/' + username;
        });
        </script>
    {% else %}
        <div class="title">
            <div class="rex"></div>
            <h1 class="txttitle">Welcome to Rex</h1>
        </div>
        <ul >
            <li><a class="color" href="/login">Login</a></li>
            <li><a href="/signup">Shin up</a></li>
        </ul>
    {% endif %}
    

</body>
</html>
