<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex|login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
</head>

<body>
    <div class="form">
        <div class="left">
            
            <form action="/login" method="post" dir="ltr">
                
                {% csrf_token %}
                <div>
                  {{ form.username }}
                </div>
                

              <div>
                {{ form.password }}
              </div>
              

                {% if form.errors or form.non_field_errors %}
                    <div>
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button  class="btn">Enter</button>
                
        </div>
    </div>
</body>

</html>