<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>ارسال پیام</title>
</head>
<body>
    <div class="messages"> 
        <ul>
            {% for message in messages %}
                <li class="{{ message.user }}">{{ message.text }}</li>
            {% endfor %}
        </ul>
    </div>

    <form method="POST">
        {% csrf_token %}
        <textarea id="text" name="text" rows="4" cols="50" placeholder="Send a message to {{ username }}"></textarea><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>
