    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rex|signup</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
    </head>

    <body>
        <div class="form">
            <div class="left">
                <h1>Welcome to login form!</h1>

                <form action="/signup" method="post" dir="ltr">
                    
                    {% csrf_token %}
                    <div>
                        {{ form.avatar }}
                    </div>

                    <div>
                    {{ form.username }}
                    </div>
                    
                    <div>
                    {{ form.email }}
                    </div>

                    <div>
                    {{ form.password1 }}
                    </div>
                    
                    <div>
                    {{ form.password2 }}
                    </div>

                {% if form.errors or form.non_field_errors %}
                    <div>
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                    <button  class="btn" >Submit</button>
                </form>
            </div>
        </div>

    </body>

    </html>