<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex|signup</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}">
</head>

<body>
    <div class="form">
        <div class="left">
            <h1>Welcome to login form!</h1>
            <input type="text" class="inputs" placeholder="Username">
            <input type="text" class="inputs" placeholder="Email asrsses">
            <input type="password" class="inputs" placeholder="Password 1">
            <input type="password" class="inputs" placeholder="Password 2">
            <button class="btn">Submit</button>
        </div>
    </div>
</body>

</html>